XMLWebServices/Hotels.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hotel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element name="Contact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Phone"/>
                    <xs:element type="xs:string" name="Email"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="Number"/>
                    <xs:element type="xs:string" name="Street"/>
                    <xs:element type="xs:string" name="City"/>
                    <xs:element type="xs:int" name="Zip"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="BusLines" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Stars" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>